@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


section {
    font-family: "poppins";
    background-image: url(../images/Sign\ in\ bg.png);
}

.max-width {
    max-width: 1440px;
}

.light-grey {
    color: rgb(145, 151, 166);
}

.dark-grey {
    color: rgba(98, 101, 109, 1);
}

.header {
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
}

.Don’thave {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.text-decoration {
    text-decoration: none !important;
}

span {
    color: rgb(0, 119, 255);
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    padding-left: 40px;
    min-height: 54px;
    border-radius: 10px;
    border: 2px solid rgba(153, 153, 153, 0.2) !important;
    width: 100% !important;
    background-color: rgb(245, 248, 255);
}

img[alt="input-icon"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.email-password {
    left: 3%;
}

.icon {
    right: 5%;
}

.checkbox-container {
    font-family: lato;
}

.pointer {
    cursor: pointer;
}

.checkbox-container input {
    margin-right: 10px;
}

.btn-signup {
    width: 100%;
    border: none !important;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    border-radius: 2rem;
    padding: 14px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    transition: background-color 2s ease-out 100ms
}

::placeholder {
    font-family: Lato;
    color: rgb(145, 151, 166);
}

.justify-end {
    justify-content: end;
    display: flex;
    margin-top: -25px;
}

.social-btn {
    width: 100%;
    min-height: 41px;
    border: 1px solid rgba(228, 234, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px !important;
}

.fb {
    margin-left: 10px;
}

@media (min-width:992px) {
    form {
        max-width: 340px;
        width: 100%;
    }

    .grey-line {
        height: 0px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(201, 207, 219, 1)
    }

    .section::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url(../images/blue-bg.png);
    }

    img[alt="circle-group"] {
        position: absolute;
        z-index: 1;
        bottom: 0%;
        left: 9%;
    }

    img[alt="social-icons"] {
        position: absolute;
        z-index: 1;
        left: 12%;
        animation: mymove 5s ease-out infinite;
    }

    @keyframes mymove {
        0% {
            transform: scale(0.5, 0.5);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    .facebook {
        top: 3%
    }

    .linkedin {
        top: 26%;
    }

    .Instagram {
        top: 51%;
    }

    .twitter {
        bottom: 10%;
    }
}

@media (max-width:992px) {

    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../images/blue-bg.png);
    }

    .grey-line {
        height: 0px;
        /* width: 100%;  */
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(201, 207, 219, 1)
    }

    .input-container input {
        padding-left: 55px;
    }

    img[alt="circle-group"] {
        position: absolute;
        z-index: 1;
        top: 115px;
        left: 24%;
    }

    .facebook {
        left: 253px;
        top: 181px;
        z-index: 2;
    }

    .linkedin {
        left: 253px;
        top: 280px;
        z-index: 2;
    }

    .Instagram {
        left: 253px;
        top: 391px;
        z-index: 2;
    }

    .twitter {
        left: 253px;
        top: 490px;
        z-index: 2;
    }
}


@media (max-width:768px) {

    img[alt="circle-group"] {
        display: none;
    }

    img[alt="sm-img"] {
        z-index: 99 !important;
        position: absolute !important;
        top: 103px;
        left: 222px;
    }

    .input-container input {
        padding-left: 40px;
    }


    .facebook {
        top: 365px;
        left: 152px;
    }

    .linkedin {
        left: 244px;
        top: 365px;
    }

    .Instagram {
        left: 343px;
        top: 365px;
    }

    .twitter {
        left: 437px;
        top: 365px;
    }
}


@media (max-width:500px) {
    img[alt="sm-img"] {
        top: 103px;
        left: 50px;
    }

    .facebook {
        top: 365px;
        left: 25px;
    }

    .linkedin {
        left: 100px;
        top: 365px;
    }

    .Instagram {
        left: 170px;
        top: 365px;
    }

    .twitter {
        left: 240px;
        top: 365px;
    }
}

@media (min-width:768px) {
    img[alt="sm-img"] {
        display: none;
    }
}

@media (max-width:1100px) and (min-width:985px) {
    img[alt="circle-group"] {
        position: absolute;
        z-index: 1;
        bottom: 0%;
        left: 0%;
    }
}